section[data-section-id="646ea53e53cb5e53241acaa2"],
section[data-section-id="647fb1587c65a21db2e98236"] {
  // Instagram Feed and button
  // in general, do not display
  display: none;
}

.homepage {
  // on the home page you can display
  section[data-section-id="646ea53e53cb5e53241acaa2"] {
    // Instagram Feed
    display: block;
  }
  section[data-section-id="647fb1587c65a21db2e98236"] {
   &.page-section {
     // Instagram Button 
     display: block;
     top: 40%;
     left: 50%;
     z-index: 1000;
     margin-top: -134px;
     transform: translate(-50%, -66%);
     width: 154px;
   
     .section-border,
     :not(.has-background) .section-background {
       background-color: transparent;
     }
   }
 }
}



// Email Signup
section[data-section-id="646f810a69ab3003b658bea7"] button.newsletter-form-button.sqs-system-button.sqs-editable-button-layout.sqs-editable-button-style.sqs-editable-button-shape.sqs-button-element--primary {
    width: 100%;
  }
  section[data-section-id="646f810a69ab3003b658bea7"] .newsletter-form-button-wrapper.submit-wrapper {
    min-width: 18rem;
    @include atMedium{
      min-width: auto;
      width: auto;
    }
  }
  
  