// Footer Menu
// Four Buttons
.fluid-engine.fe-646f8221fe3dd56bb1d20d15{
    margin-bottom: 25px;
    @include atMedium {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 6px;  
    } 
  }
  .fe-block.fe-block-yui_3_17_2_1_1685030036608_12051 {
    grid-area: 1/2/3/10;
    @include atMedium {
      grid-area: 1/1/3/2;
    }
  }
  .fe-block.fe-block-f2e053d4076bec43703a{
    grid-area: 3/2/5/10;
    @include atMedium {
      grid-area: 1/2/3/3;
    }
  }
  .fe-block.fe-block-bbe929cae73900289aaf{
    grid-area: 5/2/7/10;
    @include atMedium {
      grid-area: 1/3/3/4;
    }
  }
  .fe-block.fe-block-1556b6a4070df7e35663{
    grid-area: 7/2/9/10;
    @include atMedium {
      grid-area: 1/4/3/5;
    }
  }

  // Email Signup
section[data-section-id="646f810a69ab3003b658bea7"] button.newsletter-form-button.sqs-system-button.sqs-editable-button-layout.sqs-editable-button-style.sqs-editable-button-shape.sqs-button-element--primary {
    width: 100%;
  }
  section[data-section-id="646f810a69ab3003b658bea7"] .newsletter-form-button-wrapper.submit-wrapper {
    min-width: 18rem;
    @include atMedium{
      min-width: auto;
      width: auto;
    }
  }
  
  