/* Primary Navigation */
.header-title-nav-wrapper,
.header-display-desktop {
  align-items: flex-end;
}
.header-nav-item {
    @include atLarge {
        font-size: calc(1.25 * 1rem);
    } 
}

/* Secondary Navigation */
// don't show on mobile menu
.wm-secondary-mobile-nav {
  display: none;
}
.wm-secondary-container {
  justify-content:flex-end!important;
  padding: 0 1vw!important;
}
.wm-secondary-nav {
    background-color: unquote("hsla(var(--darkAccent-hsl),1)");
}
.wm-subnav-nav-list {
  margin-right: 0px!important;
}
.wm-secondary-container .wm-subnav-nav-list a {
  text-transform:uppercase;
  font-size: .95rem;
  color: unquote("hsla(var(--white-hsl), 1)");
  

  &:hover,
  &:active {
    color: unquote("hsla(var(--white-hsl), 1)");
  }
  padding: .45em 0em .55em 0em;
  text-align:center;
  margin: 0px 0px;
}
#wm-subnav .wm-social-icon-container .wm-social-icon svg, 
#wm-subnav .wm-social-icon-container .wm-social-icon path {
    fill: unquote("hsla(var(--white-hsl),1)");
}