// Variables
$white: --white-hsl; // this is the white hsl
$black: --black-hsl;
$light: --lightAccent-hsl;
$accent: --accent-hsl;
$dark: --darkAccent-hsl;

// Themes
@mixin lightest1 {
  [data-section-theme="white"] {
    @content;
  }
}
@mixin darkest1 {
  [data-section-theme="black"] {
    @content;
  }
}


/* Media Queries Mixins*/
@mixin atLarge {
    @media screen and (min-width: 1272px){ @content; }
}
@mixin atMedium {
  @media (min-width: 768px) { @content; }
}
/* Fonts */
@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d8a774a7d815846799f0b/1684900471021/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d3664f8d6a6264f80659b/1684878948587/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'glacial_indifferenceitalic';
    src: url('https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d8a734066831f869987f3/1684900467329/glacialindifference-italic-webfont.woff2') format('woff2'),
         url('https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d366a7d59bb793ac5393b/1684878954983/glacialindifference-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald_regularregular';
    src: url('https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d8a68438d85376c8a75fb/1684900456429/oswald-regular-webfont.woff2') format('woff2'),
         url('https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d367678e46a2ee4f8e645/1684878966790/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Font Overrides */
h1, h2, h3, h4, h5, h6, .header-nav-wrapper a, .header-menu-nav a, #siteWrapper .sqs-button-element--primary, #siteWrapper .sqs-button-element--tertiary, #siteWrapper .sqs-button-element--secondary  {font-family: 'oswald_regularregular';}
.site-wrapper, .sqs-catalog-item-list, .sqs-block-html pre code{
  font-family: 'glacial_indifferenceregular';
}
/* Site Links Underline */
.fe-block .sqs-block-content a {
  position: relative;
  text-decoration: none;
} 
// .fe-block .sqs-block-content a:hover{
// color: black;
// }
.fe-block .sqs-block-content a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
// theme specific link underline colors
@include lightest1 {
  & .fe-block .sqs-block-content a::before {
    background-color: var(--tweak-paragraph-link-color-on-background);
  }
}
@include darkest1 {
  & .fe-block .sqs-block-content a::before {
    background-color: hsla(var($white),1);
  }
}
.fe-block .sqs-block-content a:hover::before {
  transform: scaleX(1);
}
/* Global Header */
.header .header-announcement-bar-wrapper {
  padding-top: 0px;
  padding-bottom: 15px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .1);
}
// when sticky
.tweak-fixed-header:not(.sqs-edit-mode-active):not(.sqs-site-styles-active) .header.shrink .header-announcement-bar-wrapper {
  padding-top: 0;
  padding-bottom: 15px;
}
/* Primary Navigation */
.header-title-nav-wrapper,
.header-display-desktop {
  align-items: flex-end;
}
.header-nav-item {
    @include atLarge {
        font-size: calc(1.25 * 1rem);
    } 
}
// cart icon
.header-actions-action .sqs-custom-cart, .header-menu-actions-action .sqs-custom-cart {
    margin-top: -32px;
}
/* Secondary Navigation */
// don't show on mobile menu
.wm-secondary-mobile-nav {
  display: none;
}
.wm-secondary-container {
  justify-content:flex-end!important;
  padding: 0 1vw!important;
}
.wm-secondary-nav {
    background-color: hsla(var($dark),1);
}
.wm-subnav-nav-list {
  margin-right: 0px!important;
}
.wm-secondary-container .wm-subnav-nav-list a {
  text-transform:uppercase;
  font-size: .95rem;
  color: hsla(var($white), 1);
  &:hover,
  &:active {
    color: hsla(var($white),1);
  }
  width: 50px;
  padding: .45em 0em .55em 0em;
  text-align:center;
  margin: 0px 0px;
}
#wm-subnav .wm-social-icon-container .wm-social-icon svg, #wm-subnav .wm-social-icon-container .wm-social-icon path {
    fill: hsla(var(--white-hsl),1);
}
// buttons
// redefine the rollover of buttons
.secondary-button-style-solid .sqs-button-element--secondary:hover,
.tertiary-button-style-solid .sqs-button-element--tertiary:hover,
.primary-button-style-solid .site-wrapper .sqs-button-element--primary:hover {
    opacity: 1;
}
.primary-button-style-solid .site-wrapper .sqs-button-element--primary:link,
.primary-button-style-solid .site-wrapper .sqs-button-element--primary:visited,
.secondary-button-style-solid .sqs-button-element--secondary:link,
.secondary-button-style-solid .sqs-button-element--secondary:visited,
.tertiary-button-style-solid .sqs-button-element--tertiary:link,
.tertiary-button-style-solid .sqs-button-element--tertiary:visited {
    transition: all .2s;
    position: relative;
}
.primary-button-style-solid .site-wrapper .sqs-button-element--primary:hover,
.secondary-button-style-solid .sqs-button-element--secondary:hover,
.tertiary-button-style-solid .sqs-button-element--tertiary:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.primary-button-style-solid .site-wrapper .sqs-button-element--primary:active,
.secondary-button-style-solid .sqs-button-element--secondary:active,
.tertiary-button-style-solid .sqs-button-element--tertiary:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
// Footer
// Email Signup
section[data-section-id="646f810a69ab3003b658bea7"] button.newsletter-form-button.sqs-system-button.sqs-editable-button-layout.sqs-editable-button-style.sqs-editable-button-shape.sqs-button-element--primary {
  width: 100%;
}
section[data-section-id="646f810a69ab3003b658bea7"] .newsletter-form-button-wrapper.submit-wrapper {
  min-width: 18rem;
  @include atMedium{
    min-width: auto;
    width: auto;
  }
}
// Footer Menu
section[data-section-id="646ea1b5dc4c11cb550209d5"] .content-wrapper {
  padding: 0 0;
}
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fluid-engine.fe-646ea1b5113d3feb8a8b3f72 {
  @include atMedium {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
// logo
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fe-block.fe-block-646ea1b51f1f14fffb06280a {
  @include atMedium {
    grid-area: 1/1/6/3;
  }
}
// background positioning
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fluid-image-container.sqs-image-content img.loaded {
  @include atMedium {
    // object-position: 74% 50% !important;
  }
}
section[data-section-id="646ea1b5dc4c11cb550209d5"] .sqs-block-image .design-layout-fluid .fluid-image-container .content-fill {
  @include atMedium {
    // left: 24%;
    // top: 0;
  }
}
section[data-section-id="646ea1b5dc4c11cb550209d5"] .sqs-block-image .design-layout-fluid .fluid-image-container .content-fill img {
  @include atMedium {
    // width: 54% !important;
    // height: 100% !important;
  }
}
// stamps
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fe-block.fe-block-b4ae79e9fd63db27f93b,
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fe-block.fe-block-yui_3_17_2_1_1684941612839_110796 {
  @include atMedium {
    grid-area: 6/1/9/3;
  }
}
// bptw
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fe-block-b4ae79e9fd63db27f93b .sqs-block {
  @include atMedium {
    width: 70%;
  }
}
// accredited
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fe-block-yui_3_17_2_1_1684941612839_110796 .sqs-block {
  @include atMedium {
    width: 30%;
    margin-left: 50%;
  }
}
// About
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fe-block.fe-block-df0d11537a9b63c81a2b {
  @include atMedium {
    grid-area: 1/3/15/4;
  }
}
// Explore
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fe-block.fe-block-d9dbe7398d73b6b0812c {
  @include atMedium {
    grid-area: 1/4/15/5;
  }
}
// Contact
section[data-section-id="646ea1b5dc4c11cb550209d5"] .fe-block.fe-block-365d83e8cfa18a970004{
  @include atMedium {
    grid-area: 1/5/15/7;
    margin-bottom: 4px;
  }
}
section[data-section-id="646ea1b5dc4c11cb550209d5"] #block-365d83e8cfa18a970004.sqs-block.sqs-background-enabled{
  @include atMedium {
    padding: 3% 6% 6% 6%;
  }
}
// Four Buttons
.fluid-engine.fe-646f8221fe3dd56bb1d20d15{
  margin-bottom: 25px;
  @include atMedium {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 6px;  
  } 
}
.fe-block.fe-block-yui_3_17_2_1_1685030036608_12051 {
  grid-area: 1/2/3/10;
  @include atMedium {
    grid-area: 1/1/3/2;
  }
}
.fe-block.fe-block-f2e053d4076bec43703a{
  grid-area: 3/2/5/10;
  @include atMedium {
    grid-area: 1/2/3/3;
  }
}
.fe-block.fe-block-bbe929cae73900289aaf{
  grid-area: 5/2/7/10;
  @include atMedium {
    grid-area: 1/3/3/4;
  }
}
.fe-block.fe-block-1556b6a4070df7e35663{
  grid-area: 7/2/9/10;
  @include atMedium {
    grid-area: 1/4/3/5;
  }
}
/* Page Specific Styles */
// Home Page
// Events
section[data-section-id="646f91742de8543b99848288"] .list-item-content__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6vh;
  @include atMedium{
    height: 13vh;
  }
}
// Harmon Canyon
// Recent Observations
.fe-block.fe-block-yui_3_17_2_1_1685034427653_6308 {
  @include atMedium{
    grid-area: 4/2/3/8;
  }
}
.fe-block.fe-block-yui_3_17_2_1_1685034427653_11089 {
  @include atMedium{
    grid-area: 1/20/5/26;
  }
}