/* Media Queries */
/* Color Variables */
/* Fonts */
@font-face {
  font-family: "glacial_indifferenceregular";
  src: url("https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d8a774a7d815846799f0b/1684900471021/glacialindifference-regular-webfont.woff2") format("woff2"), url("https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d3664f8d6a6264f80659b/1684878948587/glacialindifference-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "glacial_indifferenceitalic";
  src: url("https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d8a734066831f869987f3/1684900467329/glacialindifference-italic-webfont.woff2") format("woff2"), url("https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d366a7d59bb793ac5393b/1684878954983/glacialindifference-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "oswald_regularregular";
  src: url("https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d8a68438d85376c8a75fb/1684900456429/oswald-regular-webfont.woff2") format("woff2"), url("https://static1.squarespace.com/static/622a8e8b99b4aa06799132d5/t/646d367678e46a2ee4f8e645/1684878966790/oswald-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Font Overrides */
h1, h2, h3, h4, h5, h6, .header-nav-wrapper a, .header-menu-nav a, #siteWrapper .sqs-button-element--primary, #siteWrapper .sqs-button-element--tertiary, #siteWrapper .sqs-button-element--secondary {
  font-family: "oswald_regularregular";
}

.site-wrapper, .sqs-catalog-item-list, .sqs-block-html pre code {
  font-family: "glacial_indifferenceregular";
}

/* Global Header */
.header .header-announcement-bar-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Primary Navigation */
.header-title-nav-wrapper {
  align-items: flex-end;
}

/* Secondary Navigation */
.wm-secondary-container {
  justify-content: flex-end !important;
  padding: 0px;
}

.wm-secondary-nav {
  background-color: hsla(var(--darkAccent-hsl), 1);
}

.wm-subnav-nav-list {
  margin-right: 0px;
}

.wm-secondary-container .wm-subnav-nav-list a {
  text-transform: uppercase;
  font-size: 0.95rem;
  color: hsla(var(--light-hsl), 1);
  width: 50px;
  padding: 0.45em 0em 0.55em 0em;
  text-align: center;
  margin: 0px 0px;
}
.wm-secondary-container .wm-subnav-nav-list a:hover, .wm-secondary-container .wm-subnav-nav-list a:active {
  color: hsla(var(--white-hsl), 1);
}

[data-wm-social=youtube] path {
  stroke: var(--lightAccent-hsl);
}
[data-wm-social=youtube] path:hover, [data-wm-social=youtube] path:active {
  stroke: var(--white-hsl);
}

[data-wm-social=facebook] path,
[data-wm-social=instagram] path,
[data-wm-social=facebook] svg,
[data-wm-social=instagram] svg {
  fill: var(--lightAccent-hsl);
}
[data-wm-social=facebook] path:hover, [data-wm-social=facebook] path:active,
[data-wm-social=instagram] path:hover,
[data-wm-social=instagram] path:active,
[data-wm-social=facebook] svg:hover,
[data-wm-social=facebook] svg:active,
[data-wm-social=instagram] svg:hover,
[data-wm-social=instagram] svg:active {
  fill: var(--white-hsl);
}

.secondary-button-style-solid .sqs-button-element--secondary:hover,
.tertiary-button-style-solid .sqs-button-element--tertiary:hover,
.primary-button-style-solid .site-wrapper .sqs-button-element--primary:hover {
  opacity: 1;
}

.primary-button-style-solid .site-wrapper .sqs-button-element--primary:link,
.primary-button-style-solid .site-wrapper .sqs-button-element--primary:visited,
.secondary-button-style-solid .sqs-button-element--secondary:link,
.secondary-button-style-solid .sqs-button-element--secondary:visited,
.tertiary-button-style-solid .sqs-button-element--tertiary:link,
.tertiary-button-style-solid .sqs-button-element--tertiary:visited {
  transition: all 0.2s;
  position: relative;
}

.primary-button-style-solid .site-wrapper .sqs-button-element--primary:hover,
.secondary-button-style-solid .sqs-button-element--secondary:hover,
.tertiary-button-style-solid .sqs-button-element--tertiary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.primary-button-style-solid .site-wrapper .sqs-button-element--primary:active,
.secondary-button-style-solid .sqs-button-element--secondary:active,
.tertiary-button-style-solid .sqs-button-element--tertiary:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* This was an idea for an animation but it really wasn't necessary so it's commented out.
// .primary-button-style-solid .site-wrapper .sqs-button-element--primary::after,
// .secondary-button-style-solid .sqs-button-element--secondary::after,
// .tertiary-button-style-solid .sqs-button-element--tertiary::after{
//     content: "";
//     display: inline-block;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     transition: all .4s;
// }
// .primary-button-style-solid .site-wrapper .sqs-button-element--primary::after,
// .secondary-button-style-solid .sqs-button-element--secondary::after{
//     background-color: var($white);
// }
// .tertiary-button-style-solid .sqs-button-element--tertiary::after{
//     background-color: var($accent);
// }
// .primary-button-style-solid .site-wrapper .sqs-button-element--primary:hover::after,
// .secondary-button-style-solid .sqs-button-element--secondary:hover::after,
// .tertiary-button-style-solid .sqs-button-element--tertiary:hover::after{
//     transform: scaleX(1.5) scaleY(1.6);
//     opacity: 0;
// }
*//*# sourceMappingURL=styles.css.map */