/* Plugin Lightbox - Custom Styles */
.fancybox-container {
    .c-lightbox__close[type=button] {
        right: 5px;
        top: 5px;
    }
    .fluid-engine {
        margin-top: 0px;
    }
}

html .c-lightbox__content-inner {
    padding: 2rem 2rem 2rem 2rem;
}
/* end Plugin Lightbox - Custom Styles */