section[data-section-id="6481f9d49bc487300199a7f9"] {

    // Read More Button
    .user-items-list-simple { // <ul>
        .list-item[data-is-card-enabled="true"]  { // <li>
            padding-left: 0px!important;
            padding-right: 0px!important;
            padding-bottom: 0px!important;
            .list-item-content__button.sqs-button-element--primary { // <a href...>
                // color: unquote("hsla(var(--black-hsl),1)");
                // background-color: transparent;
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

/* Individual Bios */
// Laura P.
section[data-section-id="64892ea66cea283eeaa47138"] {
    img.loaded {
        object-position: calc(20%) calc(50%)!important;
    }
}

// Tessa W.
section[data-section-id="648938d0b4a05d4494ec370c"] {
    img.loaded {
        object-position: calc(90%) calc(50%)!important;
    }
}