section[data-section-id='649da269c19d844c02d40cf4']
  .list-item-content__description
  a {
  position: relative;
  display: block;
  z-index: 10;
  text-align: center;
  text-decoration: none;
}

section[data-section-id='649da269c19d844c02d40cf4']
  .list-item-content__description
  p.show {
  opacity: 1;
}

section[data-section-id='649da269c19d844c02d40cf4']
  .list-item-content__description
  p.display-block {
  height: auto;
}

section[data-section-id='649da269c19d844c02d40cf4']
  .list-item-content__description
  p {
  opacity: 0;
  height: 1px;
  transition: opacity 0 linear;
}
