section[data-section-id='65398b1efeed1d69b2a95eb2']
  .list-item-content__description
  a {
  position: relative;
  display: block;
  z-index: 10;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

section[data-section-id='65398b1efeed1d69b2a95eb2']
  .list-item-content__description.show
  p {
  opacity: 1;
}

section[data-section-id='65398b1efeed1d69b2a95eb2']
  .list-item-content__description.display-block
  p {
  height: auto;
}

section[data-section-id='65398b1efeed1d69b2a95eb2']
  .list-item-content__description
  p {
  opacity: 0;
  height: 1px;
  transition: opacity 0 linear;
}
